<!DOCTYPE html>
<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>

    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="row">

                <div class="col-md-2"></div>

                <div class="col-md-4">
                    <ul class="nav navbar-nav">
                        <a asp-controller="Home" asp-action="Home" class="navbar-brand"> Home </a>
                        <a asp-controller="Home" asp-action="Contact" class="navbar-brand"> Contact </a>
                        <li class="dropdown">
                            <a asp-controller="Product" asp-action="ProductList"
                               class="navbar-brand dropdown-toggle" data-toggle="dropdown">Spirits<b class="caret"></b></a> 
                            <ul class="dropdown-menu">
                                <li><a>@await Component.InvokeAsync("SpiritsSubCategoryNavigation")</a></li> <!--Folder "Components" then Vies/Shared/Components-->
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a asp-controller="Product" asp-action="ProductList"
                               class="navbar-brand dropdown-toggle" data-toggle="dropdown">Wine<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a>@await Component.InvokeAsync("WineSubCategoryNavigation")</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a asp-controller="Product" asp-action="ProductList"
                               class="navbar-brand dropdown-toggle" data-toggle="dropdown">Beer<b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a>@await Component.InvokeAsync("BeerSubCategoryNavigation")</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="col-md-1"></div>

                <div class="col-md-3">
                    <li class="navbar-form navbar-right">
                        <form div class="form-group" asp-controller="Product" asp-action="SearchList" method="get">
                            <!--method get - search result is viisible in URL-->
                            <input type="text" class="form-control" name="SearchString" placeholder="Search">
                            <button class="btn btn-default" type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>
                        </form>
                    </li>
                </div>



            </div>
         </div>
    </nav>

    <div class="container">
        <main role="main" class="pb-1">
            @RenderBody()
        </main>
    </div>

</body>
</html>

