@model Cart

@if (Model.CartItems.Count > 0)
{
<li>
    <a asp-controller="Cart" asp-action="GetCartTotal">
        <span class="glyphicon glyphicon-shopping-cart"></span>
        <span id="cart-status">
            @Model.CartItems.Count
        </span>
    </a>
</li>}