@model LiquorStore.Models.CartListViewModel


@{
    ViewData["Title"] = "CartList";
}

<h1>CartList</h1>

<table class="table">
    <thead>
        <tr>
            <th>Quantity</th>
            <th>Product</th>
            <th>Price</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @foreach (var item in Model.cart.CartItems)
            {
                <tr>
                    <td>@item.Quantity</td>
                    <td>@item.Product.Name</td>
                    <td>@item.Product.Price.ToString("c")</td>
                    <td>@((item.Quantity * item.Product.Price).ToString("c"))</td>
                </tr>
            }
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total</td>
            <td class="text-right">
                <a asp-action="GetCartTotal" asp-controller="Cart"></a>
            </td>
        </tr>
    </tfoot>
</table>

<div class="text-center">
    <input type="submit" class="btn btn-primary" value="Back" href="Url.Return">
</div>

