@model IEnumerable<LiquorStore.Models.Product>

<li class="dropdown">
    @foreach (var a in Model)
    {
        <a asp-controller="Product" asp-action="List"
           class="dropdown-toggle" data-toggle="dropdown">@a.Category<b class="caret"></b></a>
        <ul class="dropdown-menu">
            @foreach (var b in a.SubCategory)
            {
                <li>
                    <a asp-controller="Product" asp-action="List">@b</a>
                </li>
            }
        </ul>
    }
</li>



